<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- === 通信配置 === -->
    <add key="PlcIP" value="192.168.0.1"/>
    <add key="PlcRack" value="0"/>
    <add key="PlcSlot" value="1"/> <!-- S7-1200通常是1 -->
    <add key="IsSimulation" value="true"/> <!-- 默认为true，方便您现在调试 -->
    <add key="DbNum" value="3010"/> <!-- 数据块编号 DB3010 -->

    <!-- === 业务指令码 (保持不变) === -->
    <add key="Cmd_Reset_Req" value="503"/>
    <add key="Cmd_Reset_Ack" value="504"/>
    <add key="Cmd_Auto_Req" value="505"/>
    <add key="Cmd_Auto_Ack" value="506"/>
    <add key="Cmd_Data_Ack" value="500"/>
    <add key="Cmd_Recheck_Req" value="507"/>
    <add key="Cmd_Recheck_Ack" value="508"/>
    <add key="Cmd_Eject_Req" value="509"/>
    <add key="Cmd_Eject_Ack" value="510"/>
    <add key="Cmd_Ready" value="501"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>